* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
background-color:darkblue;
color: white;
height:5rem ;
line-height: 5rem;
}

.choice{
height: 170px;
width: 170px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.choice:hover{
cursor: pointer;
background-color: blue;

}

img{
height: 150px;
width: 150px;
object-fit: cover;
border-radius: 50%;

}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
    font-size: 2rem;
}

#user-score,#comp-score{
font-size: 4rem;
}
.msg-container{
    margin-top: 4rem;

}
#msg{
    background-color: blue;
color: white;
height:5rem ;
font-size: 2rem;
display: inline;
padding: 1rem;
border-radius: 1rem;
}
